*.layout
*.depend
*.so
*.dll
build
examples/bin
examples/obj
*.a
*.so
CMakeCache.txt
Makefile
CMakeFiles
tpsa_exp
cmake_install.cmake
examples/example.cbp
examples/example.depend
examples/example.layout
examples/da_output.txt
windows_x64
